# ===================================================================
# Archivos de Entorno y Secretos
# Ignora todos los archivos .env, incluyendo los específicos como .env.local
.env
.env.*
!.env.example

# ===================================================================
# Python / Backend
#
# Entorno virtual
venv/
.venv/
env/
.env/

# Archivos compilados y cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución y empaquetado
build/
dist/
*.egg-info/
*.egg

# Registros y datos generados por los scripts
/backend/scripts/logs/
/backend/scripts/data_scrapped/
/backend/scripts/shared_data/
/backend/scripts/snapshots/

# Cobertura de tests
.coverage
.coverage.*
htmlcov/

# Pytest
.pytest_cache/

# ===================================================================
# Flutter / Frontend
#
# Archivos generados por Pub y Dart
.dart_tool/
.pub/
.pub-cache/

# Archivos de compilación
/frontend/build/

# Archivos generados por Flutter
.flutter-plugins
.flutter-plugins-dependencies

# Símbolos de depuración y ofuscación
app.*.symbols
app.*.map.json

# Archivos específicos de Android Studio / IntelliJ
/android/local.properties
/ios/Pods/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Flutter/ephemeral/

# ===================================================================
# Configuración de IDEs y Editores
#
# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Atom
.atom/

# ===================================================================
# Docker
#
# Archivos de contexto de compilación que no se deben incluir
.dockerignore
docker-compose.override.yml
nginx.dev.conf

# ===================================================================
# Archivos del Sistema Operativo y Misceláneos
#
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Otros
*.log
*.swp
.history
*.class